#app {
  background-color: hsl(236deg 100% 16%);
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: 100%;
}

.title-box {
  height: 210px;
  background-image: linear-gradient(to right, #020828, #12204d, #020828);
  width: 100%;

}

.title,
.time,
.name {
  color: #fff;
}

.message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}

.title {
  font-size: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 120px;
  height: 120px;
}

.time {
  font-size: 50px;
}

.name {
  font-size: 80px;
  margin-left: 50px;
}


/* 生产 */
.Production {
  height: 45%;
  border: 1px solid red;
  width: 50%;
  box-sizing: border-box;
  
}

/* 异常 */
.abnormal {
  height: 45%;
  border: 1px solid rgb(9, 255, 0);
  width: 50%;
  box-sizing: border-box;
}

.progress {
  width: 100%;
  height: 45%;
  border: 1px solid #ffeb3b
}


.ready {
  height: 40%;
  border: 1px solid red;
}

.designation {
  color: #fff;
  font-size: 60px;
}

.el-icon-menu {
  color: #2F84C1;
  margin-left: 10px;
  margin-right: 20px; 
}

.feichuqing,.chuqing {
  height: 30%;
  border: 1px solid red;
}


.table-message td,th{
  background-color: hsl(236deg 100% 16%) !important;
  border: 1px solid hsl(236deg 100% 16%);
}

.el-table td, .el-table th.is-leaf {
  border: 1px solid hsl(236deg 100% 16%);
}

.el-table th, .el-table tr {
  background-color: hsl(236deg 100% 16%) !important;
}

.el-table {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.el-table, .el-table__expanded-cell {
  background-color: hsl(236deg 100% 16%) !important;
}