#app {
  background-color: hsl(236deg 100% 16%);
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: 100%;
}

.title-box {
  height: 10%;
  background-image: linear-gradient(to right, #020828, #12204d, #020828);
  width: 100%;

}

.title,
.time,
.name {
  color: #fff;
}

.message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}

.title {
  font-size: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 120px;
  height: 120px;
}

.time {
  font-size: 50px;
}

.name {
  font-size: 80px;
  margin-left: 50px;
}


/* 生产 */
.Production {
  height: 45%;
  width: 50%;
  box-sizing: border-box;
  
}

/* 异常 */
.abnormal {
  height: 45%;
  width: 50%;
  box-sizing: border-box;
}

.progress {
  width: 100%;
  height: 45%;
}


.ready {
  padding-top: 10px;
  height: 40%
}

.designation {
  color: #fff;
  font-size: 60px;
}

.el-icon-menu {
  color: #2F84C1;
  margin-left: 10px;
}

.chuqing {
  padding-top: 10px;
  height: 25%;
}
.feichuqing {
  padding-top: 10px;
  height: 35%;
}


.table-message td,th{
  background-color: hsl(236deg 100% 16%) !important;
  border: 1px solid hsl(236deg 100% 16%);
}

.el-table td, .el-table th.is-leaf {
  border: 1px solid hsl(236deg 100% 16%);
}

.el-table th, .el-table tr {
  background-color: hsl(236deg 100% 16%) !important;
}

.el-table {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.el-table, .el-table__expanded-cell {
  background-color: hsl(236deg 100% 16%) !important;
}
.el-table th>.cell {
  height: 55px;
  color: #fff;
  font-weight: bold;
  font-size: 35px;
  line-height: 55px;
}
.el-table td>.cell {
  height: 50px;
  color: #fff;
  font-size: 30px;
}


.abnormal {

}
.progress-boxs {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}
.progress-box span{
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.progress-box {
  display: flex;
    flex-direction: column;
    align-items: center;
}
.progress-boxs2 {
 margin-top: 150px;
}

.progress-box2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 60px;
}
.progress-box2  .el-progress {
  width: 80%;
  display: flex;
}

.progress-message {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}
.progress {
  padding-top: 20px;
}

.el-table::before {
  height :0
}


.progress {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box
}


.timebox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.timebox div {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}